html *{
    font-family: 'Times New Roman', Times, serif;
    background-color: #323a45;
}
body {
    margin: 0;
}

.flex-container {
    flex-basis: 80%;
    flex-grow: 1;
    display: flex;
    background-color: #778899;
}
.flex-item-1, .flex-item-2 {
    background-color: #323a45;
    color: white;
    margin: 25px;
}
.flex-item-2, .flex-item-1 {
    flex-basis: content;
}
.flex-item-1 h3 {
    padding-left: 20px;
    color: #F9C784
}

.flex-item-2 h3 {
    color: #F9C784;
}

hr {
    /* Change this color to the background's color */
    height: 5px; 
    border: 0;  
    margin: 0px;
    background-color: #778899;

}

.profile img {
    width:400px;
    height: 400px;
    object-fit: cover;
    padding: 30px;
    padding-bottom: 15px;
}

.profile {
    text-align: center;
}

.profile h2 {
    margin: 0;
    padding-bottom: 10px;
}
.profile h4 {
    margin: 0;
    padding-bottom: 20px;
}
.contact ul {
    /* https://stackoverflow.com/a/30830043 */
    text-align: center;
    padding-inline-start: 0px;
}
.contact li {
    display: inline-block;
    padding: 20px;
}

.contact i {
    /* color as background */
    color: #778899; 
}

.skills ul {
    /* color as background */
    color: #ffffff;    
}

.skills li {
    padding: 5px;
}
.lang ul {
    list-style: none;
}
.lang li {
    color: white;
    padding-bottom: 5px;
}

.lang progress {
    width: 22rem;
    padding-bottom: 5px;
}

.hobbies ul {
    padding-left: 0px;
    text-align: center;
    list-style: none;
    color: #778899;
}

.hobbies li {
    display: inline-block;
    padding: 20px;
}

.hobbies i {
    color: #778899;
    width: 50%;
}

.flex-item-2 {
    width: max-content;
    height: fit-content;
    padding: 30px;  
}

.introduction, .pub {
    text-align: justify;
}

.experiences table, .edu table {
    padding-bottom: 10px;
    width: 100%;
}

.time {
    width: 20%;
    padding-right: 1rem;
    border-right: 1px solid;
}

.date {
    width: 10%;
    padding-right: 1rem;
    border-right: 1px solid;
}
.company, .uni {
    width: 25%;
    border-right: 1px solid;
}

.deg, .description, .company, .uni {
    padding-left: 5px;
}

.pub ul {
    padding-left: 20px;
}